@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.kb {
    --_h: 351;
    --v: 79;
    block-size: 8rem;
    display: grid;
    grid-column-gap: 1px;
    grid-template-columns: repeat(var(--_r, 156), 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.kb [data-note] {
    background-color: var(--_bgc, #FFF);
    border: 0;
    border-radius: 0 0 3px 3px;
    grid-column: var(--gcs) / span var(--_csp, 3);
    grid-row: 1 / span var(--_rsp, 5);
    position: relative;
    --_focus-bxsh: inset 0 0 50px #fff, inset 20px 0 80px hsl(var(--_h, 0), 70%, 35%), inset -20px 0 80px hsl(var(--_h, 0), 100%, 50%);
    --_hover-bg: linear-gradient(to bottom, #FFF 0%, hsl(0, 0%, 90%) 100%);
}

.kb [data-note*="#"] {
    background-color: var(--_bgcs, #000);
    --_csp: 2;
    --_rsp: 3;
    position: relative;
    z-index: 1;
    --_focus-bxsh: inset 0 0 50px hsl(var(--_h, 0), 25%, 35%), inset 20px 0 80px hsl(var(--_h, 0), 70%, 35%), inset -20px 0 80px hsl(var(--_h, 0), 100%, 50%);
    --_hover-bg: linear-gradient(to top, #000 0%, hsl(0, 0%, 25%) 100%);
}

.kb [data-note]:hover {
    background: var(--_hover-bg);
}

.kb [data-note]:focus-visible {
    box-shadow: var(--_focus-bxsh);
    outline: none;
}

/* modifiers */
.kb--88 {
    --_r: 156;
}

.kb--61 {
    --_r: 108;
}

.kb--49 {
    --_r: 87;
}

.kb--32 {
    --_bs: 6em;
    --_r: 57;
}

.kb--25 {
    --_bs: 6em;
    --_r: 45;
}

.synth {
    background: linear-gradient(215deg, hsl(0, 0%, 25%), hsl(0, 0%, 15%), hsl(0, 0%, 5%));
    color: #FFF;
    font-family: 'Russo One', sans-serif;
    padding: .5em 1em 1em 1em;
    height: min-content;
  }
  
  .synth h2 {
    margin: 0 0 .5em 0;
  }
   
  .keydown {
    --_l: calc((var(--v, 1) * 0.394%));
    --_bgc: hsla(var(--_h), 50%, calc(95% - var(--_l)));
    --_bgcs: var(--_bgc);
  }
  
  .keydown::after {
    background-color: #000;
    block-size: .5em;
    border-radius: 50%;
    content: "";
    display: block;
    inline-size: .5em;
    inset-block-end: 1em;
    inset-inline-start: 50%;
    position: absolute;
    transform: translateX(-50%);
  }
  